<div class="">
  <md-card>
    <md-card-header>
      <md-card-avatar>
        <md-icon class="md-avatar-icon" md-font-icon="fa fa-user-o fa-2x"></md-icon>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">PROJECT NAME</span>
        <span class="md-subhead">PROJECT OWNER</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-title>
      <md-card-title-text style="width: 100%">
        <span md-truncate class="md-headline">{{vm.task.name}}</span>
        <span class="md-subhead">{{vm.task.status}}</span>
        <!-- <span class="md-subhead">{{vm.task.project.organization}}</span> -->
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media"><cl-image public_id="{{vm.task.project.image}}" transformation="logo"></cl-image></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-content ng-show="vm.expanded" layout-padding>
        <md-divider></md-divider>
        <p>{{vm.task.shortDescription}}</p>
        <md-content ng-show="vm.task.status == 'working'">
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2 md-truncate flex>Response</h2>
            </div>
          </md-toolbar>
          {{vm.task.response}}
          <md-input-container class="md-block">
            <label>Comment</label>
            <textarea ng-model="vm.response.comment" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
          </md-input-container>
          <md-button class="md-raised md-primary" ng-click="vm.update({task: vm.task, update: vm.task.respond(vm.response)})">Save</md-button>
        </md-content>
    </md-card-content>
    <md-card-actions layout="row" layout-align="spread center">
      <md-button ng-show="vm.task.status == 'shown'" ng-click="vm.update({task: vm.task, update: vm.task.work()})" class="md-raised md-primary">Accept</md-button>
      <md-button ng-show="vm.task.status == 'working'" ng-click="vm.update({task: vm.task, update: vm.task.submit()})" class="md-raised md-primary">Submit</md-button>
      <md-button ng-show="vm.task.status == 'working'" ng-click="vm.update({task: vm.task, update: vm.task.cancel()})" class="md-raised">Cancel</md-button>
      <md-button ng-show="vm.task.status == 'submitted'" ng-click="vm.update({task: vm.task, update: vm.task.approve()})" class="md-raised md-primary">Approve</md-button>
      <md-button ng-show="vm.task.status == 'submitted'" ng-click="vm.update({task: vm.task, update: vm.task.reject()})" class="md-raised">Reject</md-button>
      <md-card-icon-actions>
        <md-button class="md-icon-button md-ink-ripple" aria-label="toggle" ng-click="vm.expand(!vm.expanded)">
          <md-icon ng-show="vm.expanded" md-font-icon="fa fa-compress fa-2x"></md-icon>
          <md-icon ng-hide="vm.expanded" md-font-icon="fa fa-expand fa-2x"></md-icon>
        </md-button>
      </md-card-icon-actions>
    </md-card-actions>
  </md-card>
</div>
