<md-dialog id="new-task-dialog" aria-label="New Task" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Add Task for {{dialog.project.name}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="dialog.close()">
        <md-icon md-font-icon="fa fa-times" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <form name="newTaskForm" layout="column" layout-padding sf-schema="dialog.schema" ng-submit="dialog.submit(newTaskForm)" sf-form="dialog.form" sf-model="dialog.model"></form>
  </md-dialog-content>

  <!-- <md-dialog-actions layout="row">
    <md-button type="submit" ng-disabled="newTaskForm.$invalid" class="md-raised md-primary">Submit</md-button>
  </md-dialog-actions> -->

  <!-- <form name="newTaskForm" ng-submit="dialog.submit()">


    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Name</label>
          <input type="name" name="name" ng-model="dialog.name" md-autofocus required />
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" ng-disabled="loginForm.$invalid" class="md-raised md-primary">Submit</md-button>
    </md-dialog-actions>
  </form> -->
</md-dialog>
